@media (min-width: 768px) and (max-width: 991px) {
    .team-card [class*="col-"]:not(:nth-last-child(-n + 2)) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 768px) {
    .menu {
      flex-direction: row-reverse;
      margin-bottom: 152px;
      padding-top: 40px;
    }
  
    .header-title {
      margin-bottom: 34px;
    }
  
    .header-description {
      margin-bottom: 30px;
    }
  
    .page-main {
      margin-bottom: 74px;
    }
  
    .main-content > [class*="col-"]:nth-child(1) {
      margin-bottom: 32px;
    }
  
    .main-content > [class*="col-"]:nth-child(2) {
      margin-bottom: 40px;
    }
  
    .baner {
      min-height: 700px;
    }
  }