*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
}

/* HEADER */

.baner {
  margin-bottom: 68px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(26, 25, 21, 0.15) 100%, rgb(0, 0, 0)),
    url(../img/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
}

.header-link:not(:last-child) {
  margin-right: 20px;
}

.border-link {
  display: inline-block;
  padding: 8px 0;
  width: 90px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.logo-link {
  display: inline-block;
}

.header-title {
  margin: 0;
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header-description {
  margin-bottom: 20px;
  color: #fff;
  font-family: var(--font-roboto);
  font-size: 18px;
  font-weight: 300;
}

.header-btn {
  min-width: 280px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #ff4e50;
  color: #fff;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s linear;
  outline: none;
}

.header-btn:hover,
.header-btn:focus {
  transform: scale(1.1);
}

/* MAIN  */

.page-main {
  margin-bottom: 56px;
  text-align: center;
}

.main-title {
  margin-bottom: 14px;
  text-align: center;
  color: #333;
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 700;
}

.card {
  margin-bottom: 30px;
  list-style: none;
}

.card-item {
  width: 212px;
  text-align: center;
}

.box-img {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 121px;
  height: 121px;
  position: relative;
}

.box-img::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-tv::after {
  background-color: #ff4e50;
  background-image: url(../img/icon/icon-tv.png);
  background-position: 8px 7px;
}

.icon-potion::after {
  background-color: #ffa507;
  background-image: url(../img/icon/icon-potion.png);
  background-position: 9px 8px;
}

.icon-coffee::after {
  background-color: #1cd7ad;
  background-image: url(../img/icon/icon-coffee.png);
  background-position: 8px 6px;
}

.icon-airplane::after {
  background-color: #4e73db;
  background-image: url(../img/icon/icon-airplane.png);
  background-position: 7px 8px;
}

.card-name {
  margin-bottom: 16px;
  color: #333;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
}

.card-info {
  color: #666;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 300;
}

.main-btn {
  min-width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  border-radius: 50px;
  background-color: transparent;
  color: #ff4e50;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.main-btn:hover,
.main-btn:focus {
  color: #fff;
  background-color: #ff4e50;
}

@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  .header-section {
    padding-top: 30px;
    margin-bottom: 34px;
  }

  .header-login {
    margin-bottom: 122px;
  }

  .card-item {
    margin: 0 auto;
  }

  .card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
