@media (min-width: 768px) {
  .container {
    width: 668px;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 46px;
    margin-bottom: 158px;
  }

  .header-title {
    margin-bottom: 40px;
  }

  .header-description {
    margin-bottom: 34px;
  }

  .page-main {
    margin-bottom: 70px;
  }

  .main-title {
    margin-bottom: 32px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 938px) {
  .card-item:nth-child(odd) {
    margin-right: 52px;
  }

  .card-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 60px;
  }
}
