html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
}

body {
    font-size: 14px;
    font-family: "Playfair Display", "Georgia",  serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*site navigation*/
.menu {
    list-style: none;
    font-size: 14px;
    color: rgb(98, 98, 98);
    line-height: 24px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 98px;
}


.menu-item {
    display: inline-block;
}

.menu-item:nth-child(1) {
    margin-right: 120px;
}

.menu-item:nth-child(2) {
    margin-right: 102px;
}

.menu-item:nth-child(3) {
    margin-right: 94px;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    
}

.menu-link:hover,
.menu-link:focus {
    color: rgb(3, 169, 244);
}

/*information list*/
.information {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 52px;
    vertical-align: top;
}

.information-img {
    margin-bottom: 32px;
}

.information-sign {
    margin-bottom: 32px;
    color: #b4ad9e;
    font-weight: 400;
    font-family: "Ubuntu", serif;
    text-transform: uppercase;
}

.information-caption {
    font-size: 30px;
    color: #626262;
    margin-bottom: 36px;
    font-weight: 400;
}

.information-text {
    color: #626262;
    line-height: 24px;
    margin: 0;
}
.information-item {
    width: 420px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 130px;
    vertical-align: top;
}

.information-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.information-item:nth-child(2n+1) {
    margin-right: 60px;
}

/*button*/

.button {
    text-align: center;
    margin-bottom: 70px;
}

.load-button {
    border: 1px solid #626262;
    min-width: 164px;
    max-width: 600px;
    min-height: 60px;
    padding: 0;
    color: #626262;
    font-size: 20px;
    line-height: 24px;
    background: transparent;
    cursor: pointer;
}

.load-button:hover,
.load-button:focus {
    color: rgb(3, 169, 244);
}

