// FONTS
$font-kaushan-script: "Kaushan Script", cursive;
$font-montserrat: "Montserrat", Arial, sans-serif;
$font-roboto: "Roboto", Arial, sans-serif;

$main-font-size: 14px;

// COLOR
$primary-white-color: #fff;
$primary-accent-color: #fce38a;
$primary-black-color: #333;
$primary-grey-color: #999;
$primary-svg-color: #95e1d3;

$after-elem-color: #f38181;
$top-line-footer: #e5e5e5;
$border-form-color: #e7e7e7;

$error-color: #fd311e;
$correctly-color: #33ff2c;

$foto-filter: linear-gradient(
  to top,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);
